// Colors
// -----------------------------------------------------------------------------
// Change the color variables once at the top, or change elements individually
// below. Colors are typically Hex values, or one of 140 standard color names/

$black: #000000;
$off-black: #333333;
$gray: #CCCCCC;
$white: #ffffff;
$off-white: #EEF2F3;

$purple: #ac5ea5;
$blue: #3964af;
$orange: #f2a61e;
$dark-green: #00a14f;
$pink: #cd3a95;
$yellow: #ffda00;
$light-green: #77c044;
$red: #f04e29;
$teal: #00b7b7;

$off-black-semi-transparent: rgba(0, 0, 0, .5);
$black-semi-transparent: rgba(0, 0, 0, 0.75);
$rich-black: cmyk(50%, 50%, 50%, 100%);
